<%-include("includes/base.ejs")%>
<%-include("includes/header.ejs")%>
       
<div class="container">
    <% if( locals.posts_data ){ %>
    <div class="row" >
            <div class="col-12 content"> 
                <div class="row px-2"> 
                    <ul class="posts-list" >
                        <% if (posts_data.posts.length > 0) { %>
                            <% for (const key in posts_data.posts) { %>
                                    <li class="card"><a href="/posts/<%= key %>"><%= posts_data.posts[key].title%></a></li>
                            <% } %>
                        <% } else { %>
                            <li class="card" > No posts yet </li>
                        <% } %>    
                    </ul>
                </div>
            </div>
    </div> 
    <% } else { %>  
        No posts yet
    <% } %>   
</div>

<%-include("includes/footer.ejs")%>
  